
.display-board {
  width: 100%;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dotted;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.display-board:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.number {
  color: red;
  font-size: 75px;
  text-align: center;
}
