.default-boring-header {
  width: 100%;
  padding: 2%;
  background-color: blueviolet;
  color: white;
  text-align: center;

}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.animated-header {
  animation: slideInFromLeft 1s ease;
  background: linear-gradient(45deg, #4472a4, #e52e71);
  margin-top: 20px;
  margin-bottom: 40px;
  color: #eee5e5;
  line-height: 0;
}

.special-heading {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  position: relative;
}

.special-heading:before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 3px;
  background-color: #fff;
}

.header {
  background-color: #1d87a8;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.h1 {
  font-size: 48px;
  font-weight: bold;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin-bottom: .5rem;
  font-family: inherit;
  line-height: 1.2;
  padding-block: 1rem;
  margin-left: 4rem;
}

.h1:before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 3px;
  background-color: #ff9900;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  position: relative;
}

nav ul li a:before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ff9900;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

nav ul li a:hover:before {
  transform: scaleX(1);
}
